<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyChat.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <applicationSettings>
        <MyChat.Client.Properties.Settings>
            <setting name="WebSocketUri" serializeAs="String">
                <value>ws://127.0.0.1:80</value>
            </setting>
        </MyChat.Client.Properties.Settings>
    </applicationSettings>
  <system.serviceModel>
    <client>
      <endpoint
         address="http://localhost:30743/service.svc"
         binding="wsHttpBinding" bindingConfiguration="wsHttpBinding"
         contract="MyChat.Contracts.IMyChatService"/>
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBinding" closeTimeout="00:20:00" openTimeout="00:02:00"
          receiveTimeout="00:15:00" sendTimeout="00:15:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647"
            maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession inactivityTimeout="00:20:00" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>